
@*@{
    ViewBag.Title = "_AccountantMenu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}*@
<br />
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">



            <li>
                <a href="@Url.Action("Index","Customer")">
                    <i class="fa fa-users"></i> CustomerList
                </a>

                <!-- /.nav-second-level -->
            </li>

            
        </ul>
    </div>
</div>
